.feedback-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.feedback-form input {
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  transition: border-color 250ms linear;
}

.feedback-form input:hover {
  border-color: #000000;
}

.form-textarea {
  resize: none;
}

.form-btn {
  padding: 8px 16px;
  margin-top: 8px;
  width: 86px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms linear;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}
